
<div class="contextual">
  	<% if authorize_for_with_global('ram_assets', 'new', true) %>
		<%= link_to('New Asset', new_asset_path, :class => 'icon icon-asset-add') %>
	<% end %>
</div>

<h2>Assets</h2>
<% if authorize_for_with_global('ram_assets', 'index', true) %>
<div id="assets">
	
  <%= render :partial => 'ram/assets/list' %>
  <p class="pagination">Assets Count: <%= @assets_count %> | Asset Statuses Count: <%= @asset_statuses_count %> | Pool Statuses Count: <%= @pool_statuses_count %></p>
</div>
<% end %>
<br /><br />
<div class="contextual">
  	<% if authorize_for_with_global('ram_licenses', 'new', true) %>
		<%= link_to('New License', new_license_path, :class => 'icon icon-license-add') %>
	<% end %>
</div>
<h2>Licenses</h2>
<% if authorize_for_with_global('ram_licenses', 'index', true) %>
<div id="licenses">
	
  <%= render :partial => 'ram/licenses/list' %>
  <p class="pagination">Licenses Count: <%= @licenses_count %></p>
</div>
<% end %>

<% html_title(l(:page_title_ram)) -%>
