<%- form_for(@asset) do |f| %>
  <%= f.error_messages %>
  <h3>Asset Information</h3>
  <table>
    <tbody>
      <tr>
        <td style="text-align:right;"><%= f.label :make, l('label_asset_make') %>:</td>
        <td><%= f.text_field :make, :size => 20 %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label :model, l('label_asset_model') %>:</td>
        <td><%= f.text_field :model, :size => 20 %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label :serial, l('label_asset_serial') %>:</td>
        <td><%= f.text_field :serial, :size => 40 %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label :description, l('label_asset_description') %>:</td>
        <td><%= f.text_area :description, :cols => "20", :rows => "5" %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label :expected_life, l('label_asset_expected_life') %>:</td>
        <td><%= f.text_field :expected_life, :size => 10 %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label :category_id, l('label_asset_category') %>:</td>
        <td><%= collection_select(@asset, :category_id, AssetStatus.all, :id, :name) %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label :status_id, l('label_asset_status') %>:</td>
        <td><%= collection_select(@asset, :status_id, AssetStatus.all, :id, :name) %></td>
      </tr>
    </tbody>
  </table>
  <hr />

  <p>
    <%= f.submit "Save#{f.object.new_record? ? ' New ' : ' ' }Asset" %> <%= f.object.new_record? ? link_to(l(:link_cancel), assets_path) : link_to(l(:link_cancel), asset_path, :id => @asset)  %>
  </p>
<%- end %>
