<% if authorize_for_with_global(:assets, :edit, true) %>
	<div class="contextual">
	  <%= link_to('Edit Asset', edit_asset_path, :class => 'icon icon-edit') %>
	</div>
<% end %>
<h2><%= link_to l(:label_asset_plural), :controller => 'ram_assets', :action => 'index' %> &#187; <%= @asset.make %> (<%= @asset.model %>)</h2>
<h3>Notes</h3>
<div id="asset-notes">
	<%= render :partial => 'ram/assets/notes/list', :locals => { :notes => @asset.notes } %>
</div>

<h3>Issues</h3>
<div id="asset-issues">

  <%= render :partial => 'ram/assets/issues/list', :locals => { :asset => @asset }%>

</div>

<% html_title(l(:title_asset_view)) -%>
