<% if authorize_for_with_global(:assets, :edit, true) %>
	<div class="contextual">
	  <%= link_to('Edit Asset', edit_asset_path, :class => 'icon icon-edit') %>
	</div>
<% end %>
<h2>
	<%= link_to l(:page_title_ram), :controller => 'ram', :action => 'index' %> &#187; 
	<%= link_to l(:label_asset_plural), :controller => 'assets', :action => 'index' %> &#187; 
	<%= @asset.make %> (<%= @asset.model %>)
</h2>
<div>

<h5>Warranty Expiration</h5>
<%= @asset.warranty_expiration %>	
</div>



<% if authorize_for_with_global(:assetnotes, :add, true) %>
	<div class="contextual">
	  <%= link_to('Add Asset Note', edit_asset_path, :class => 'icon icon-add') %>
	</div>
<% end %>
<h3>Notes</h3>

<% if @asset.notes %>
<div id="asset-notes">
	<%= render :partial => 'ram/assets/notes/list' %>
</div>
<% end %>

<h3>Issues</h3>
<div id="asset-issues">
	
</div>

<% html_title(l(:label_asset_view)) -%>
