<% if authorize_for_with_global(:assets, :edit, true) %>
	<div class="contextual">
	  <%= link_to('Edit License', edit_license_path, :class => 'icon icon-license-edit') %>
	</div>
<% end %>
<h2><%= link_to l(:label_license_plural), licenses_path %> &#187; <%= @license.name %> (<%= @license.publisher_name %>)</h2>
<h3>Notes</h3>
<div id="license-notes">

  <%= render :partial => 'ram/licenses/notes/list' %>
  
</div>

<h3>Issues</h3>
<div id="license-issues">

</div>

<% html_title(l(:label_license)) -%>
